.filters {
  max-width: 1200px;
  margin: 20px auto;
  padding-left: 20px;
}

::ng-deep {
  .mat-form-field-infix {
    background-color: white;
  }

  .mat-select-trigger,
  .mat-select-arrow-wrapper {
    margin-right: 5px;
  }

  mat-select {
    margin-left: 5px;
  }

  mat-label {
    margin-left: 5px;
    color: grey;
  }
}

.games {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin: 20px auto;
}

.game {
  width: 280px;
  margin: 10px;
  height: 330px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 4px 3px 8px 0px grey;
  transition-duration: 0.3s;
  background-color: grey;
  cursor: pointer;

  &:hover {
    box-shadow: 4px 3px 11px 6px #d3d3d3;
    transform: tranlateY(3px);
  }

  &-thumb-container {
    background-color: black;
    position: relative;
    height: 172px;
    color: white;
    text-align: center;
  }

  &-thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 172px;
  }

  &-description {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &-name {
    color: white;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &-platforms {
    display: flex;
  }

  &-platform {
    width: 20px;
    margin-right: 10px;
  }
}
